body
{
  font-family: "Times New Roman" !important;
  overflow: hidden;
}


.windows
{
  position: absolute;
  color: black;
  background-color: grey;
  width: 200px;
  height: 300px;
  border:
}

#closeButton
{
  
}
#window-header:hover {
  cursor: crosshair;
}
.draggable-window::-webkit-scrollbar {
  display: none;
}

.draggable-window {
  right: 10%;
  top: 0;
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  font-size: 48px;
  position: absolute;
  color: black;
  transition: height 1s ;
  
}
.window-header {
  font-size: 128px;
  margin:  0;
  z-index: 9;
}
.icon-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5%;
}
.icon-container > span:hover {
  cursor: pointer;
}